<div class="w-11/12 mx-auto flex justify-between items-center py-8">
  <a href="/" class="text-3xl text-blue-500">Express Task List</a>
  <a
    href="/new-entry"
    class="text-md bg-blue-500 text-white px-4 py-2 rounded-md"
    >New Task</a
  >
</div>
<hr />
